{% extends "template.html" %}

{% block title %}
	Password
{% endblock %}

{% block content %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">Cambio de password</h3>
            
            <!-- /.col-lg-12 -->
            <div class="col-md-4 col-md-offset-4">
                <form role="form" method="POST">{% csrf_token %}
                    <fieldset>
                        {% if form.errors %}
                        <ul class="errorlist">
                            <li>La antigua contraseña introducida es incorrecta. Por favor introdúzcala nuevamente.</li>
                        </ul>
                        {% endif %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="Contraseña anterior" name="old_password" type="password" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Contraseña nueva" name="new_password1" type="password" value="">
                                </div>
                                {% if form.errors %}
                                <ul class="errorlist">
                                        <li>Los dos campos de contraseñas no coinciden entre si.</li>
                                </ul>
                                 {% endif %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="Confirmar Contraseña" name="new_password2" type="password" value="">
                                </div>
                                <button class="btn btn-outline btn-success" type="submit">Actualizar</button>
                                <!-- Change this to a button or input when using this as a form -->
                    </fieldset>
                </form>
                </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
       
    </div>
    <!-- /#wrapper -->

{% endblock %}