<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'css/bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'css/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/menu/" class="navbar-brand">Ingreso Usuario: {{user.username}}</a>

            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-left">
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/cerrar/">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/perfil/"><i class="fa fa-user fa-fw"></i> Perfil del usuario</a>
                        </li>
                        <li><a href="/password/"><i class="fa fa-gear fa-fw"></i> Cambio de password</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/cerrar/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
             
            <ul class="nav navbar-top-links navbar-right">
            <h5>Sistema de control de inventarios DETEC</h5>
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <form action="/libros/buscar/">
                                <input type="text" class="form-control" placeholder="Search..." name="buscalo">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" id="btnsearchbox">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                </form>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-mortar-board"></i> Administración<span class="fa arrow"></span></a>
                             <ul class="nav nav-second-level">
                        </li>
                        <li>
                            <a href="/registrarse/"><i class="fa fa-user fa-fw"></i> Usuarios<span></span></a>
                        </li>

                        <li>
                            <a href="#"><i ></i> Datos<span class="fa arrow"></span></a>
                             <ul class="nav nav-third-level">
                        </li>
                        <li>
                            <a href="/administracion/tipoAjuste/"><i ></i> Tipo de ajuste<span></span></a>
                        </li>
                        <li>
                            <a href="/administracion/tipoCompra/"><i ></i> Tipo de compra<span></span></a>
                        </li>
                        <li>
                            <a href="/administracion/tipoDevolucion/"><i ></i> Tipo de devolución<span></span></a>
                        </li>
                        <li>
                            <a href="/administracion/tipoMovimiento/"><i ></i> Tipo de movimiento<span></span></a>
                        </li>
                        <li>
                            <a href="/administracion/tipoPedido/"><i ></i> Tipo de pedido<span></span></a>
                        </li>
                        <li>
                            <a href="/administracion/tipoTransferencia/"><i ></i> Tipo de transferencia<span></span></a>
                        </li>
                        </ul>
                        </ul>
                        <li>
                        <a href="#"><i class="fa fa-institution"></i> Localidad<span class="fa arrow"></span></a>
                             <ul class="nav nav-second-level">
                            </li>
                        <li>
                            <a href="/localidad/estado/"><i class="fa fa-institution fa-fw"></i> Estado<span></span></a>
                        </li>
                        <li>
                            <a href="/localidad/municipio/"><i class="fa fa-flag"></i> Municipio<span></span></a>
                        </li>
                        <li>
                            <a href="/negocio/sucursal/"><i class="fa fa-home fa-fw"></i> Sucursal<span></span></a>
                        </li>
                    </ul>
                    <li>
                        <a href="#"><i class="fa fa-delicious"></i> Negocio<span class="fa arrow"></span></a>
                             <ul class="nav nav-second-level">
                            </li>
                            <li>
                            <a href="/negocio/articulo/"><i class="fa fa-camera-retro"></i> Articulos<span></span></a>
                        </li>
                        <li>
                            <a href="/negocio/departamento/"><i class="fa fa-group"></i> Departamento<span></span></a>
                        </li>
                        <li>
                            <a href="/negocio/subdepartamento/"><i class="fa fa-users"></i> SubDepartamento<span></span></a>
                        </li>
                        <li>
                            <a href="/negocio/proveedor/"><i class="fa fa-male"></i> Proveedores<span></span></a>
                        </li>
                    </ul>
                    <li>
                        <a href="#"><i class="fa fa-archive"></i> Gerencia<span class="fa arrow"></span></a>
                             <ul class="nav nav-second-level">
                            </li>
                        <li>
                            <a href="#"><i class="fa fa-file-o"></i> Ajustes<span></span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-credit-card"></i> Compras<span></span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-thumbs-o-down"></i> Devoluciones<span></span></a>
                        </li>
                         <li>
                            <a href="#"><i class="fa fa-cubes"></i> Inventarios<span></span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cube"></i> Kardex<span></span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o"></i> Pedidos<span></span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fast-forward"></i> Transferencias<span></span></a>
                        </li>
                    </ul>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

{% block content %}
{% endblock %}


 <!-- jQuery -->
    <script src="{% static 'js/bower_components/jquery/dist/jquery.min.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'js/bower_components/metisMenu/dist/metisMenu.min.js'%}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/dist/js/sb-admin-2.js'%}"></script>
{% block js %}
{% endblock %}

</body>

</html>